:host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.625rem;
}
